{% extends "layout.html" %}

{%block title %}
HOME18
{% endblock %}
{% block main %}
<main class="container-fluid text-center" id="layout">
    <div id="content-main" class="fade-in">
        <div id="the-card1" class="the-card1">
            <div id="the-card" class="the-card">
                <div id="card-front">
                    <img src="data:image/jpeg;base64,{{ encoded_image_data }}" id="small-profile-input1">
                    <div id="details">
                        <p id="name-index">{{ name }}</p>
                        <p id="age-index">Age: {{ age }}</p>
                        <p id="gender-index">{{ gender }}</p>
                    </div>
                </div>
                <div id="card-back">
                    <div id="button1">
                        <a href="/upload"><button type="submit" class="btn btn-light" id="profile2">Edit
                                Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div id="body1">
                <form id="getjoke" class="getJoke" action="/getJoke" method="post">
                    <h4>Choose categories of jokes you would like to recieve</h4>
                    <input type="checkbox" name="category" id="programming" value="programming">
                    <label for="programming">Programming</label>

                    <input type="checkbox" name="category" id="Spooky" value="Spooky">
                    <label for="Spooky">Spooky</label>
                    <br />
                    <input type="checkbox" name="category" id="dark" value="dark">
                    <label for="dark">Dark</label>

                    <input type="checkbox" name="category" id="pun" value="pun">
                    <label for="pun">Pun</label>
                    <br />
        </div>
        <div id="body2">
            <h4>Choose a type!</h4>
            <input type="checkbox" name="jokeType" id="twoPart" value="twopart">
            <label for="twoPart">Two Part</label>
            <br />
            <input type="checkbox" name="jokeType" id="single" value="single">
            <label for="single">Single</label>
            <br />
            <button type="submit" class="btn btn-light" id="getJoke">Get Joke</button>
            <br /><br />
            </form>
        </div>

    </div>
    </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var indexbox = document.getElementById("content-main");
            indexbox.classList.add("fade-in-active");
        });

    </script>

    {% endblock %}